In [1]:
import pandas as pd

In [2]:
# Import
comments_file = 'data/comments.csv'
tokenized_comments_text_file = './data/tokenized_comments.txt'
count_file = 'data/keywords_daily_count.csv'
submissions_tmdb_file = './data/submissions_tmdb.csv'
politics_comments_file = 'data/politics_comments.csv'

# Export
analysis_dataset = 'data/comments_analysis_v3.csv' # dataset which combines select twitter data, tmdb data

In [3]:
comments = pd.read_csv(comments_file, sep=';')

In [4]:
comments.drop(columns='body', inplace=True)

In [5]:
with open(tokenized_comments_text_file, 'r') as f:
    comments['tokenized_body'] = f.read().splitlines()

In [6]:
comments['Date'] = pd.to_datetime(comments['created'], unit='s').dt.date

In [7]:
twitter = pd.read_csv(count_file)
twitter = twitter.convert_dtypes()

In [8]:
twitter['Date'] = pd.to_datetime(twitter['Date']).dt.date

In [9]:
comments = pd.merge(comments, twitter, on="Date", how="left")

In [10]:
tmdb = pd.read_csv(submissions_tmdb_file, sep=";")

In [11]:
tmdb_min = tmdb[['submission_id','film_title','sexism_keywords','racism_keywords']]

In [12]:
comments = pd.merge(comments, tmdb_min, on="submission_id", how="left")

In [13]:
pols = pd.read_csv(politics_comments_file)

In [14]:
pols = pols.convert_dtypes()
comments = comments.convert_dtypes()

In [15]:
comments = comments.merge(pols, how="left", on="author")

In [16]:
comments.head()

,comment_id,submission_id,author,score,created,tokenized_body,Date,MeToo,BLM,OscarsSoWhite,film_title,sexism_keywords,racism_keywords,politics_comments
0,e0r6q9y,7llz2i,e-lutris,1,1529119335,additionally thank_you so much for caring enou...,2018-06-16,12658,3105,9,The Shape of Water,0,0,0
1,e0enlht,7llz2i,figshooting,1,1528587739,i am watching shape of water it says some stuf...,2018-06-09,15020,4041,8,The Shape of Water,0,0,0
2,dz9lw9e,7llz2i,Harry101UK,1,1526784495,extremely underwhelmed by the film it just fel...,2018-05-20,14388,2345,8,The Shape of Water,0,0,0
3,dz9llo2,7llz2i,Harry101UK,1,1526784107,we need a quirky 'mute girl we need a gay guy ...,2018-05-20,14388,2345,8,The Shape of Water,0,0,0
4,dwov5pc,7llz2i,porkpie1028,1,1522697652,but she was n't either she was part fish and h...,2018-04-02,17418,4889,19,The Shape of Water,0,0,75

In [17]:
comments.to_csv(analysis_dataset, index=False)